:root {
    --bigcardWidth: 150px;
    --smallCardWidth: 65px;
    --customeTime: 500ms;

    --smallClr1: #95F9C3ff;
    --smallClr2: #67B9A4ff;
    --smallClr3: #397885ff;
    --smallClr4: #0B3866ff;

    --bigClr1: #810576ff;
    --bigClr2: #AA4494ff;
    --bigClr3: #D382B1ff;
    --bigClr4: #FCC1CFff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
    /* backdrop-filter: blur(2rem); */
}

h1{
    color: white;
    padding: 1.5rem;
    text-align: center;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}

.card-holder {
    position: relative;
    aspect-ratio: 5/8;
    width: var(--bigcardWidth);
}

.card {
    border-radius: 4%;
    aspect-ratio: 5/8;
    position: absolute;
    transition: transform var(--customeTime) ease-in-out, rotate var(--customeTime) ease-in;
}

.smallCard {
    width: var(--smallCardWidth);
    transform: translate(50%, 50%);
    z-index: 1;
}

.bigCard {
    width: var(--bigcardWidth);
    z-index: 2;
}

/* Small Cards start */
.card:nth-child(2) {
    background: var(--smallClr1);
}

.card:nth-child(4) {
    background: var(--smallClr2);
}

.card:nth-child(6) {
    background: var(--smallClr3);
}

.card:nth-child(8) {
    background: var(--smallClr4);
}

/* Small Cards end */

/* big Cards initial start */
.card:nth-child(1) {
    transform: rotate(-10deg);
    background: var(--bigClr1);
}

.card:nth-child(3) {
    transform: rotate(-3deg) translate(10px, -18px);
    background: var(--bigClr2);
}

.card:nth-child(5) {
    transform: rotate(1deg) translate(16px, -3px);
    background: var(--bigClr3);
}

.card:nth-child(7) {
    transform: rotate(7deg) translate(20px, -10px);
    background: var(--bigClr4);
}

/* big Cards initial end */

/* after hover */

.card-holder:hover .smallCard {
    /* z-index: 3; */
}

/* small card hover start */
.card-holder:hover .card:nth-child(2) {
    transform: rotate(-40deg) translate(-185px, 0px);
}

.card-holder:hover .card:nth-child(4) {
    transform: rotate(-15deg) translate(-60px, -130px);
}

.card-holder:hover .card:nth-child(6) {
    transform: rotate(44deg) translate(250px, -90px);
}

.card-holder:hover .card:nth-child(8) {
    transform: rotate(20deg) translate(135px, -158px)
}

/* big card hover start */

.card-holder:hover .card:nth-child(1) {
    transform: rotate(-20deg) translate(-90px, -50px);
}

.card-holder:hover .card:nth-child(3) {
    transform: rotate(-8deg) translate(-30px, -50px);
}

.card-holder:hover .card:nth-child(5) {
    transform: rotate(4deg) translate(30px, -50px);
}

.card-holder:hover .card:nth-child(7) {
    transform: rotate(15deg) translate(90px, -60px);
}